* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-image: url(../resources/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: black;
    font-family: "Poppins", sans-serif;
    position: fixed;
    z-index: 1;
  }
  .nav1 {
    display: flex;
    align-items: center;
    height: 90%;
    width: 300px;
    margin-left: 50px;
    font-size: 40px;
    font-weight: 700;
    color: white;
  }
  .nav2 {
    display: flex;
    align-items: center;
    height: 90%;
    width: 600px;
    margin-left: 170px;
  }
  .nav2 a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding-right: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  .nav2 a:hover {
    text-decoration: underline;
    text-decoration-color: #18d26e;
    transition: 0.3s;
    text-decoration-thickness: 2px;
  }
  .nav3 {
    display: none;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    color: white;
  }
  .nav3 i:hover {
    cursor: pointer;
  }
  @media screen and (max-width: 1005px) {
    .nav2 {
      display: none;
    }
    .nav3 {
      display: flex;
      margin-right: 20px;
    }
    .nav1 {
      margin-left: 20px;
    }
    .nav {
      justify-content: space-between;
    }
}
.services{
    position: relative;
    top: 95px;
    height: auto;
    width: 100%;
    padding-left: 137px;
    background-color: rgba(0, 0, 0, 0.9);;
}
.r1{
    height: auto;
    width: 81%;
    color: white;
}
.r-text {
    display: flex;
    align-items: center;
    justify-content:start;
    height: 40px;
    width: 100%;
    margin-left: 6px;
  }
  .r-text1 {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 30px;
    width: 70px;
    margin-left: 10px;
  }
  .r-text1 p {
    margin-right: 8px;
    font-weight: 500;
    font-size: 18px;
  }
  .r-line {
    height: 2px;
    width: 120px;
    background-color: #18d26e;
  }
.r2{
    height: auto;
    width: 81%;
        font-size: 45px;
    font-weight: 700;
    color: white;
}
.main{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap ;
    height: auto;
    width: 90%;
}
.holder{
    
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    height: auto;
    width: 100%;
}
.cards{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    width: 30%;
    background-color: rgba(204, 204, 204, 0.1);
    padding: 50px;
    color: white;
    cursor: pointer;
transition: 0.3s;
}
.c1{
    position: relative;
    height: 110px;
    width: 130px;
    cursor: pointer;
   
}
.c2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 260px;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
   
}
.c3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    text-align: center;
    cursor: pointer;
    
}
.icon1{
    height: 75px;

    width: 70px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    position:absolute;
    top: 10px;
    left: 25px;
    cursor: pointer;
}
.icon2{
    position: absolute;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70px;
    background: #18d26e;
        border-radius: 5px;
    top: 20px;
    left: 35px;
    cursor: pointer;

    
}
.cards:hover{
    background-color: #18d26e;
    cursor: pointer;
    transition: 0.3s;
}
.cards:hover .icon1{
    background-color: #35e888;
    cursor: pointer;
    transition: 0.3s;
}
.cards:hover .icon2{
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
}
.cards:hover .icon2 .fa-solid{
    color: #18d26e;
    cursor: pointer;
    transition: 0.3s;
}
.cards:hover .icon2 .fa-brands{
    color: #18d26e;
    cursor: pointer;
    transition: 0.3s;
}
@media screen and (max-width:992px) {
    .services{
        padding-left: 0px;
    }
    .holder{
        flex-direction: column;
        align-items: center;
    }
    .cards{
        width: 80%;
    }
    
}