* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url(../resources/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: black;
  font-family: "Poppins", sans-serif;
  position: fixed;
  z-index: 1;
}
.nav1 {
  display: flex;
  align-items: center;
  height: 90%;
  width: 300px;
  margin-left: 50px;
  font-size: 40px;
  font-weight: 700;
  color: white;
}
.nav2 {
  display: flex;
  align-items: center;
  height: 90%;
  width: 600px;
  margin-left: 170px;
}
.nav2 a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding-right: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.nav2 a:hover {
  text-decoration: underline;
  text-decoration-color: #18d26e;
  transition: 0.3s;
  text-decoration-thickness: 2px;
}
.nav3 {
  display: none;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  color: white;
}
.nav3 i:hover {
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .nav2 {
    display: none;
  }
  .nav3 {
    display: flex;
    margin-right: 20px;
  }
  .nav1 {
    margin-left: 20px;
  }
  .nav {
    justify-content: space-between;
  }
}
.about {
  position: relative;
  display: flex;
  flex-direction: column;

  top: 125px;
  height: auto;
  width: 100%;
  background-color: black;
  font-family: "Poppins", sans-serif;
  color: white;
}

.about-text {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 40px;
  width: 100%;
}
.about-text1 {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 30px;
  width: 70px;
  margin-left: 142px;
}
.about-text1 p {
  margin-right: 8px;
  font-weight: 500;
  font-size: 18px;
}
.about-line {
  height: 2px;
  width: 120px;
  background-color: #18d26e;
}
.learn-more {
  height: auto;
  width: 100%;
}
.learn-more-text {
  display: flex;
  height: auto;
  width: auto;
  margin-left: 142px;
}
.learn-more p {
  font-size: 40px;
  font-weight: 700;
}
.about-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: auto;
  width: 100%;
}
.about-main-img {
  height: auto;
  width: 450px;
}
.about-main-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.about-main-text {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 660px;
}
.about-main-text1 {
  display: flex;
  align-items: center;
  height: auto;
  width: auto;
}
.about-main-text1 {
  font-size: 30px;
  font-weight: 600;
  color: #18d26e;
}
.about-main-text2 {
  display: flex;
  height: auto;
  width: 100%;
  color: white;
}
.about-main-text3 {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  font-size: 17px;
  line-height: 45px;
  color: white;
}
.about-main-text3 .fa-angle-right {
  color: #18d26e;
}
.about-main-text4 {
  display: flex;
  height: auto;
  width: auto;
  color: white;
}
.main-text2-left {
  height: auto;
  width: 50%;
}
.main-text2-right {
  height: auto;
  width: 50%;
}
@media screen and (max-width: 1111px) {
  .about-main {
    justify-content: center;
  }
  .about-text1 {
    margin-left: 0px;
  }
  .learn-more-text {
    margin-left: 0px;
  }
}
@media screen and (max-width: 658px) {
  .about-main-text3 {
    flex-direction: column;
  }
  .main-text2-right {
    width: 100%;
  }
  .main-text2-left {
    width: 100%;
  }
}

.cards {
  position: relative;
  top: 84px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: end;
  height: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: 45px;
}
.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 150px;
  width: 260px;
  background-color: rgba(255, 255, 255, 0.08);
  margin: 25px;
}

.cardicon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #18d26e;
  top: -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.cardtext {
  height: 100px;
  width: 200px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: white;
}
.num {
  font-size: 35px;
  font-weight: 600;
}
.skills{
  position: relative;
  top: 83px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 370px;
  width: 100%;
  background-color: black;
}

.skill{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: auto;
  width: 40%;
  color: white;
}

.s1{
  display: flex;
  align-items: end;
  justify-content: space-between;
  height: auto;
  width: 100%;
  font-weight: 600;
}
.s2{
  height: 17px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);;
}
.s21{
  height: 100%;
  width: 100%;
  background-color: #18d26e;
}
.s212{
  height: 100%;
  width: 80%;
  background-color: #18d26e;

}
.s213{
  height: 100%;
  width: 90%;
  background-color: #18d26e;
}
.s214{
  height: 100%;
  width: 90%;
  background-color: #18d26e;
}
.s215{
  height: 100%;
  width: 75%;
  background-color: #18d26e;
}
.s216{
  height: 100%;
  width: 55%;
  background-color: #18d26e;
}
.interests{
  display: flex;
  justify-content: center;
  position: relative;
  top: 83px;
  height: 400px;
  width: 100%;
background-color: rgba(0, 0, 0, 0.9);

}
.interest{
  height: 100%;
  width: 87%;
}
.interest .about-text1{
  margin-left: 0px;
  color: white;
}
.int{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 360px;
}
.int1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 23%;
  background-color: rgba(255, 255, 255, 0.08);
  font-size: 28px;
  transition: 0.3s;

}
.int1:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.11);
transition: 0.3s;
}
.int1 p{
  color: white;
  font-size: 24px;
}
.int1 .fa-solid{
  color:#e80368;
}
@media screen and (max-width:992px) {
  .skills{
    flex-direction: column;
    width: 100%;
  }
  .skill{
    width: 100%;
  }
  .int1{
    width: 100%;
  }
  .interests{
    height: 1120px;
  }
  
  
}
.testimonials{
  position: relative;
  top: 83px;
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
  background-color: black;
}
.testimonial{
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-wrap: wrap;
  height: auto;
  width: 87%;
  background-color: black;
}
.test{
  height: 300px;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 7px;
  margin-top: 60px;
}
.test1{
  height: auto;
  width: 100%;
  font-weight: 18px;
  font-weight: 500;
  color: white;
  padding: 10px;
  
}
.test2{
  position: relative;
  top: 15px;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: rgba(255, 255, 255, 0.12) solid 6px;
  overflow: hidden;
}
.test2 img{
  height: 100%;
  width: 100%;
}
@media screen and (max-width:385px) {
  .test{
    margin-top: 170px;
  }
}




